/*Configuración inicial*/
* {
    box-sizing: border-box;
    margin: 0%;
}


/*Reglas generales*/
body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F3F3F3;
}

/*Header*/
#div-opciones {
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#div-ofertas {
    margin-left: 90px;
}

#div-settings {
    /*justify-self: flex-end;*/
    margin-right: 52px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

#div-settings li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;

}

#div-navegacion {
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

#div-nav nav {
    margin-right: 40px;
}

#div-navegacion li {
    display: inline;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#div-logo {
    margin-left: 40px;
    width: 195px;
}

#banner {
    width: 100%;
    height: 409px;
    background-image: url("/img/comida_perro_big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

#ley-banner {
    width: fit-content;
    position: absolute;
    right: 12px;
    bottom: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#txt-placer {
    background: #FFFFFF;
    padding: 9px 10px 10px 10px; 
    color: #3C2313; 
    border-radius: 5px; 
    /*width: fit-content; */

}

#txt-descuento {
    background-color: rgba(0,0,0,0);
    color: #3C2313;
    margin-top: 12px;
    margin-bottom: 12px;
    /*width: fit-content;*/
    align-self: center;     
}

#txt-comederos {
    background-color: #F0A83E;
    color: #FFFFFF;
    padding: 15px 23px;
    border-radius: 5px;
    font-weight: 400;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}


/*Main*/
#sc-destacados {
    text-align: center;
}

#h-destacados {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

#sc-destacados p, 
#sc-destacados a{
    font-size: 15px;
    line-height: 18px;
    color: #666666;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#div-destacados {
    display: flex;
    justify-content: center;
}
/*Card*/

.card-destacado {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    background-color: #FBFAF6;
    width: 265px;
    height: 312px;
    text-align: center;
}
.card-destacado img {
    
}
.card-destacado h3 {
    color: #3C2313;
    margin-top: 7px;
    margin-bottom: 7px;    
}
.card-destacado h2 {
    color: #F0A83E;
    margin-top: 7px;
    margin-bottom: 7px;
}

/*Formulario*/
#contacto {
    font-size: 25px;
    line-height: 29px;
    color: #3C2313;    
}

.inp-contacto {
    font-size: 9px;
    line-height: 11px;
    font-size: 16px;
    line-height: 19px;
    /*color: #FFFFFF;  */
    background-color: #3C2313;  
    border-radius: 15px;
    padding: 15px;
    width: 340px;
}

.inp-contacto::placeholder {
    color: #FFFFFF; 
}

#btn-resetear {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: #8A8787;
    width: 110px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;    
    border: none;
}

#btn-enviar {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 15px; 
    background-color: #F0A83E;   
    width: 110px;
    padding-top: 7.5px;
    padding-bottom: 7.5px; 
    border: none;     
}

/*Footer*/

#suscripcion {
    background-color: #F0A83E;
}

#suscripcion p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

#nosotros {
    background-color: #3C2313;  
}

.dato-contacto {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;

}

.sub-dato {
    color: #8A8787;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;    
}

#inp-correo {
    width: 270px;
    font-size: 9px;
    line-height: 11px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 8px;
    border-radius: 15px;
    border: none;
}

#inp-correo::placeholder {
    color: #A0A0A0;
}

#btn-suscripcion {
    width: 70px;
    font-size: 9px;
    line-height: 11px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;    
    color: #FFFFFF;
    background-color: #3C2313;
    border-radius: 15px;
}

#copyright {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
